* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("images/weather.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px 5px;
    transition: transform 0.6s;

}

.box {
    box-shadow: 0 8px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid blueviolet;
    backdrop-filter: blur(10px);
    background: transparent;
    transition: 0.5s ease;
    box-sizing: border-box;
    overflow: auto;
    height: fit-content;
    padding-bottom: 10px;
    width: min-content;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box input::placeholder {
    color: #8E44AD;

    /* padding-left: 5px; */
}

.box input {
    height: 3.5rem;
    width: 28rem;
    font-size: 1.3rem;
    padding: 10px 10px 10px 40px;
    margin: 20px 1px 0px 20px;
    border: 4px solid blueviolet;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    color: white;
    box-shadow: inset 2px 2px 3px #6a21ae,
        inset -2px -2px 3px #aa35ff;

}

.box button {
    height: 3.3rem;
    width: 4rem;
    font-size: 1.5rem;
    /* padding: 10px; */
    margin: 22px 20px 0px -66px;
    border-radius: 50px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: #C39BD3;
    box-shadow: 1px 1px 2px #7926c7,
        -1px -1px 2px #9b30fd;
    cursor: pointer;
    position: relative;
}

.box button:hover {
    color: aliceblue;
    transition: 0.5s ease;
}

.box button:active {
    transform: scale(1.3);
    transition: transform 0.5 ease-in-out;

}

.weather {
    text-align: center;
    color: blueviolet;
    transition: transform 0.8s ease;
    padding-bottom: 10px;


}

.weather img {
    width: 15rem;
    padding: 10px;
    margin: 5px;
    transition: 0.6s ease;
}

.weather h1 {
    font-size: 5rem;
    margin-top: -20px;
    font-weight: 700;
    transition: 0.8s ease;
    text-align: center;

}

.weather h2 {
    font-size: 3.2rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    margin-top: -5px;
    transition: 0.8s ease;
    text-align: center;

}

.detail {
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 2.3rem;
    font-size: .8rem;
    text-align: left;



}

.col {
    display: flex;
    align-items: center;
    text-align: left
}

.col img {
    width: 40px;
    margin-left: 39px;
    margin-top: 5px;
    position: absolute;

}

.detail div {
    font-size: 18px;
    margin-right: 20px;
    font-weight: 800;

}

.search div .fa {
    font-size: 1.8rem;
    color: blueviolet;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
}

.temp2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 60px 0px 60px;
}

.temp2 h1,
h4 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #7926c7;
    /* margin-bottom: 10px; */


}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #7926c7;
    height:  10%;
    border-radius: 10px;
}

@media (max-width: 600px) {
   
    .box {
     
      width: 100% !important;
          
      overflow: auto;
    }

    .search input{
        width: 95% !important;
        height:  95% !important;

    }

   .search button{
    margin: 20px 20px 0px -13vw;

   }
   
.search div .fa {
    font-size: 1.8rem;
    color: blueviolet;
    position: absolute;
    
    margin: 0px 20px 0px 2px 
}
.col img {
    width: 29px;
    margin-left: 13px;
    margin-top: 5px;
    position: absolute;
}
.detail div{
    font-size: 90%;
    margin-right: 4px;
}
 
}
